body {
    background: #333;
}

img {
    max-width:100%;
    display: block;
}

.slide {
    max-width: 500px;
    margin:20px auto;
    position:relative;
}

.slide-items {
    position:relative;
}

.slide-items > *{
    position:absolute;
    top:0;
    opacity: 0;
    pointer-events:none; /*garante que as imagens que não aparece, não link para lugar nenhum*/
}

.slide-items > .active {
    position:relative;
    pointer-events: initial;
    opacity:1;
}

.slide-thumb{
    position:absolute;
    left:50%;
    transform: translate(-50%);
    bottom:-30px;
}

.slide-prev{
    position:absolute;
    left:-60px;
    top:40%;
    cursor: pointer;
    transform: rotate(180deg);
}
.slide-next{
    position:absolute;
    right:-60px;
    top:40%;
    cursor: pointer;
}

/* Thumbs */
.thumb {
    background-color: #777;
    float:left;
    height:15px;
    width:15px;
    border-radius:50%;
    margin-right:10px;
    cursor:pointer;
}

.active-thumb{
    background-color:#fff;
}